<% layout('./templates/bolierplate.ejs') -%>

<div class="form-detail">
    <h1>Create the new listing:</h1>
    <div class="row">
        <div class="col-8 offset-2"> 
        <form action="/add", method="Post">
            <div class="mb-3">
                <lable for="title" class="form-label">Title</lable>
                <input type="text" placeholder="enter title", name="title" class="form-control">
            </div>
    
            <div class="mb-3">        <lable for="description" class="form-label">description</lable>
                <textarea type="text", placeholder="description", name="description" class="form-control"></textarea></div>
    
            <div class="mb-3">        <lable for="image url" class="form-label">Image url</lable>
                <input type="text" placeholder="image url", name="img" class="form-control"></div>

            
                <div class="row">
                    <div class="mb-3 col-md-4">
                    <lable for="price" class="form-label">price</lable>
                    <input type="number" placeholder="price" name="price" class="form-control">
                    </div>
            
                    <div class="mb-3 col-md-8">
                    <lable for="country" class="form-label">country</lable>
                    <input type="text", placeholder="country", name="country" class="form-control">
                    </div>
                    </div>
    
    
            <div class="mb-3">     <lable for="location" class="form-label">location</lable>
                <input type="text" placeholder="loaction", name="location" class="form-control"></div>


    
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
    </div>
    

