.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.fa-tree{
    font-size: 2rem !important;
    color: #FF5A5F !important;
}
footer{
    background-color: #F5F5F5;
}
.social{
    text-align: center;
    font-size: 2rem !important;
}
.line{
    text-align: center;
}
.card{
    border:none;
    text-decoration: none;
    margin-bottom: 2em;
}

a{
    text-decoration: none;
    color: black;
}
.navbar{
    height: 6rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}

.listing-link{
text-decoration: none;
}

/* Card effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btn{
    background-color:#FF5A5F !important;;
}

.des{
    padding: 25px;
}
.button button{
    color: white !important;
} 


