<footer>
    <hr>
    <div class="centre">
        <div class="line">        &#169;2025 || all rights reserverd.</div>

        <div class="social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>
</footer>